.filtros {
  display: flex;
  align-items: stretch;
  background-color: #f1f1f1;
  height: 50px;
  padding: 0 15px;
}
.filtros > div.resultados{
  flex-grow: 1;
  text-align:left;
}
.resultados span{
  font-weight: bold;
}
.filtros > div.ordenar-por{
  flex-grow: 1;
  text-align: right;
}
