.header{
  position: static;
  z-index: 10;
  height: auto;
  overflow: hidden;
  width: 100%;
}
.info-contacto-header {
  background:#003758;
  height: 30px;
  width: 100%;
  color: #fff;
  font-size: 12px;
  padding-left: 10px;
}
.menu-header {
  display: flex;
  align-items: stretch;
  background-color: rgb(0, 113, 206);
  color: #fff;
  padding: 10px;
}
.menu-header > div.logo {
  flex-grow: 1;
  width: 50px;
  margin-right: 20px;
}
.menu-header > div.menu {
  flex-grow: 2;
  background:#06568f;
  border-radius: 6px;
  padding: 10px;
  border:1px dotted blue;
  margin-right: 20px;
  width: 0px;
}
.menu-header > div.search {
  flex-grow: 6;
  padding: 0 10px;
  margin-right: 20px;
}
.menu-header > div.search .form-control{
  border-radius: 26px;
  height: 38px;
}
.menu-header > div.carrito {
  background:#06568f;
  height: 44px;
  width: 40px;
  border-radius: 6px;
  flex-grow:1;
  padding: 0 20px;
  margin-right: 20px;

  padding-top: 5px;
}
.carrito .cantidad{
  width: 30px;
  height: 30px;
  background: #ffc220;
  border-radius: 25px;
  text-align: center;
  color: #06568f;
  float: right;
}
.menu-header > div.boton {
   flex-grow: 1;
}
.btn-ir-supermercado{
  background: #5fb446;
  color:#fff;
  height: 44px;
  width: 160px;
}
